* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-primary: #FFF;
  --text-color-secondary: #D9D9D9;
  --text-color-terciary: #A7B2C3;
  --background: #030304;
  --notification: #00BC4F;
  --card-background: #202025;
  --line: #474747;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color-primary);
  background-color: var(--background);
  width: 100%;
  height: 100vh;
}

.container {
  padding: 1.875rem 1.75rem;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  background-color: var(--background);
  font-size: 0.875rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

nav ul img {
  width: 1rem;
  height: 1rem;
  margin-right: 2rem;
}

li {
  list-style: none;
}

li:hover {
  border-bottom: 1px solid var(--notification);
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 7.25rem;

  background: rgb(18, 18, 18);
  background: linear-gradient(45deg, rgba(18, 18, 18, 1) 30%, rgba(36, 121, 64, 0.5) 80%);
}

header h1 {
  font-size: 2.375rem;
  font-weight: 600;
  line-height: 2.1875rem;

  background: #00CE2C;
  background: linear-gradient(to right, #00CE2C 15%, #AEDF23 57%, #A3DC00 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header span {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.375rem;
  min-width: 11.4375rem;
  color: var(--text-color-secondary);
}

header .hero {
  display: flex;
  align-items: center;
}

header figure {
  display: none;
}

.update {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.update p {
  font-size: 0.875rem;
  font-weight: 300;
}

.notification {
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: var(--notification);
  border-radius: 50%;
  animation: notification 2s infinite;
}

.quotes {
  margin: 2.5rem 0;
}

section h3 {
  font-size: 0.875rem;
  font-weight: 300;
}

.line {
  margin: 0.5rem 0;
  width: 100%;
  height: 0.0313rem;
  background-color: var(--line);
}

.quotes-content {
  display: grid;
  gap: 1.25rem;
}

.cards {
  display: flex;
  background-color: var(--card-background);
  border-radius: 0.1875rem;
  border: 0.38px solid var(--line);
  padding: 0.625rem 0.75rem;
  width: 100%;
  gap: 0.625rem;
  align-items: center;
}

.cards div {
  display: flex;
  flex-direction: column;
}

.cards img {
  width: 1.875rem;
  height: 1.875rem;
}

.cards .card-title {
  font-size: 0.875rem;
  color: var(--text-color-secondary);
}

.cards .card-value {
  font-size: 0.875rem;
  color: var(--text-color-terciary);
}

footer {
  display: flex;
  font-weight: 300;
  font-size: 0.875rem;
  justify-content: center;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--line);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--line);
  border-radius: 10px;
}

/* Animações */

@keyframes notification {
  0% {
    box-shadow: 0 0 5px 2px var(--notification);
  }

  70% {
    box-shadow: 0 0 3px 9px rgba(142, 102, 255, 0);
  }

  100% {
    box-shadow: 0 0 5px 2px var(--notification);
  }
}